#ownerAddress {
    font-size: 10px;
}

.container {
    background-color: black;
}

/* .panel-body {
    height: 530px;
} */

.panel-footer {
    height: 40px;
}

.form-control {
    margin-bottom: 5px;
}

h1 {
    color: yellow;
}

h2 {
    color: whitesmoke;
}

.message-area {
    padding-bottom: 1em
}
